/* /Components/DayBox.razor.rz.scp.css */
img[b-wy40xybn14] {
    /* Responsive images (ensure images don't scale beyond their parents) */
    /* Part 1: Set a maxium relative to the parent */
    max-height: 100%;
    max-width: 100%;
    /* IE7-8 need help adjusting responsive images */
    width: auto\9;
    /* Part 2: Scale the height according to the width, otherwise you get stretching */
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-l5vv7eet12] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-l5vv7eet12] {
    flex: 1;
}

.sidebar[b-l5vv7eet12] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-l5vv7eet12] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-l5vv7eet12]  a, .top-row[b-l5vv7eet12]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-l5vv7eet12]  a:hover, .top-row[b-l5vv7eet12]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-l5vv7eet12]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-l5vv7eet12] {
        justify-content: space-between;
    }

    .top-row[b-l5vv7eet12]  a, .top-row[b-l5vv7eet12]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-l5vv7eet12] {
        flex-direction: row;
    }

    .sidebar[b-l5vv7eet12] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-l5vv7eet12] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-l5vv7eet12]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-l5vv7eet12], article[b-l5vv7eet12] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Pages/Day1.razor.rz.scp.css */
p[b-xfcj1rlby4] {
    font-size: 1.75em;
}

.card[b-xfcj1rlby4] {
    max-width: 600px;
    min-width: 200px;
}
/* /Pages/Day2.razor.rz.scp.css */
p[b-rxy3ysbd9y] {
    font-size: 1.75em;
}

.card[b-rxy3ysbd9y] {
    max-width: 600px;
    min-width: 200px;
}

.collage[b-rxy3ysbd9y] {
    max-width: 600px;
}
