@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

<div class="day day-@(Day)">
    <label>
        <input type="checkbox" disabled="@(IsUnlocked() ? null : "disabled")"/>
        <div class="door">
            <div class="front">@Day</div>
            <div class="back"></div>
        </div>
        <div class="inside justify-content-center d-flex">
            <img src="dist/images/thumbnails/day@(Day).png"/>
        </div>
        <div class="title-container">
            <a @onclick=@(() => Navigation.NavigateTo(RedirectUri))>@Title</a>
        </div>
    </label>
</div>

@code {
    [Parameter]
    public int Day { get; set; }

    [SupplyParameterFromQuery]
    public bool ForceUnlock { get; set; }

    [Parameter]
    public string RedirectUri { get; set; }

    [Parameter]
    public string Title { get; set; }

    protected DateTime Date { get; set; }

    protected bool IsUnlocked()
    {
        if (ForceUnlock)
        { return true; }

        return Date >= new DateTime(2024, 12, Day);
    }

    protected override async Task OnInitializedAsync()
    {
        //Date = new DateTime(2024, 12, 2);
        Date = DateTime.Parse(await JSRuntime.InvokeAsync<string>("getBrowserTime"));
    }
}
