@page "/"
@using KlarkaAdventCalendar.Components
@inject HttpClient Http

<PageTitle>Klarka's Advent Calendar</PageTitle>
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:type" property="og:type" content="website">
    <meta name="og:url" property="og:url" content="https://csschristmascalendar.com">
    <meta name="image" content="https://csschristmascalendar.com/assets/og.jpg">

    <script defer data-domain="csschristmascalendar.com" src="https://plausible.io/js/plausible.js"></script>
</head>
<body>

    <div class="calendar-grid">
        <div class="title">
            <h1><span class="title-1">Klarka's</span><span class="title-2">Christmas</span><span class="title-3">Calendar</span></h1>
        </div>
        <DayBox Day="1" />
        <DayBox Day="2" />
        <DayBox Day="3" />
        <DayBox Day="4" />
        <DayBox Day="5" />
        <DayBox Day="6" />
        <DayBox Day="7" />
        <DayBox Day="8" />
        <DayBox Day="9" />
        <DayBox Day="10" />
        <DayBox Day="11" />
        <DayBox Day="12" />
        <DayBox Day="13" />
        <DayBox Day="14" />
        <DayBox Day="15" />
        <DayBox Day="16" />
        <DayBox Day="17" />
        <DayBox Day="18" />
        <DayBox Day="19" />
        <DayBox Day="20" />
        <DayBox Day="21" />
        <DayBox Day="22" />
        <DayBox Day="23" />
        <DayBox Day="24" />


    </div>
</body>